<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Galaxy Swiss Bourdin - {% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/5/yeti/bootstrap.min.css">
    </head>
    <body>
        {% block navbar %}
            <nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary">
                <div class="container-fluid">
                    <a class="navbar-brand text-light" href="{{path('app_base')}}">ACCUEIL</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">LE SI
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{path('app_presentation')}}">QUI SOMMES-NOUS ?</a></li>
                                    <li><a class="dropdown-item" href="{{path('app_gestion')}}">GESTION</a></li>
                                    <li><a class="dropdown-item" href="{{path('app_equipements')}}">NOS ÉQUIPEMENTS</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    LE RÉSEAU
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{path('app_repartition')}}">RÉPARTITION DES SERVICES</a></li>
                                    <li><a class="dropdown-item" href="{{path('app_segmentation')}}">SEGMENTATION</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    LES UTILISATEURS
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{path('app_utilisateurs')}}">LISTE DES UTILISATEURS</a></li>
                                    <li><a class="dropdown-item" href="{{path('app_cadurciens')}}">NOS CADURCIENS</a></li>
                                    <li><a class="dropdown-item" href="{{path('app_frais')}}">AYANT DES FRAIS</a></li>
                                    <li><a class="dropdown-item" href="{{path('app_pas_de_frais')}}">N'AYANT PAS DE FRAIS</a></li>
                                    <li><a class="dropdown-item" href="{{path('app_nombre_de_frais')}}">NOMBRE DE FRAIS</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="pb-2">
                <img src="{{asset('images/bg_gsb.jpg')}}" style="width:150%" class="img-fluid img-thumbnail" alt="Logo Galaxy Swiss Bourdin">
            </div>
        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
            <footer class="bg-primary text-center text-white">
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2023 Copyright:
                <a class="text-white">Galaxy Swiss Bourdin</a>
            </div>
            <!-- Copyright -->
            </footer>
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    </body>
</html>
